{% extends "base.html" %}
{% load i18n %}
{% load outfit_filter %}

{% block content_block %}
    <div class="piece-detail">
        <span class="piece-thumbnails">
            {% for picture in object.picture_set.all %}
                <img class="thumbnail-img" src="{{ picture.thumbnail_url }}">
            {% endfor %}
        </span>
        <span class="product-pictures">
            <div class="piece-img-wrapper">
                <img class="selected-img" src="{{ object.picture_set.all|primary_picture }}"/>
            </div>
            <div class="piece-comments">
                <div class="comment-line sub-title">
                    {% trans 'COMMENTS' %} (<span id="num_comments">{{ comments.count }}</span>)
                </div>
                <div id="existing_comments">
                    {# Note if changing this, needs to change 'addComment' in piece_details.js #}
                    {% for comment in comments %}
                         <div class="comment-line">
                            <div class="comment-name">{{ comment.author.username }}</div>
                            <div>{{ comment.comment }}</div>
                         </div>
                    {% endfor %}
                </div>
                <form id="piece_comment" method="post" data-submit="ajax" action="{% url "piece-comment" pk=object.pk %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn function-btn">{% trans "POST" %}</button>
                </form>
            </div>
        </span>

        <span class="piece-description">
            <div class="title">{{ object.brand }} {{ object.category }}</div>

            <div class="product-price">${{ object.price }}</div>
            <div class="piece-data">
                <div><div class="label">{% trans "SIZE:" %}</div>{{ object.size }}</div>
                <div><div class="label">{% trans "BRAND: " %}</div>{{ object.brand }}</div>
                <div><div class="label">{% trans "CATEGORY: " %}</div>{{ object.category }}</div>
                <div><div class="label">{% trans "CONDITION: " %}</div>{{ object.condition | get_condition_text}}</div>
                {% if object.description %}
                    <br/>
                    <p class="description-label">{{ object.description }}</p>
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary">
                <a class="button-link"
                   href="mailto:{{ object.outfit.user.email }}?subject={{ object.brand }} {{ object.category }}&body={{ request.build_absolute_uri|urlencode }}">
                    {% trans 'Buy Now' %}
                </a>
            </button>

            {% if other_outfits %}
                <div class="piece-closet">
                    <span class="sub-title-small">
                        Shop {{ object.outfit.user }}'s <a>closet</a></a>
                    </span>
                    <div class="piece-closet-img">
                        {% for other in other_outfits %}
                            <a href="/outfit/detail/{{ other.outfit.pk }}">
                                <img class="piece-other-outfit-img" src="{{ other.thumbnail_url }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </span>

    </div>
{% endblock content_block %}
