@charset "UTF-8";

// the following is to show a scrollbar on a div that's scrollable
// since by default safari and firefox on ios does not show a scrollbar unless clicked into
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
  padding: 10px 20px 20px 20px;
  background-color: #F8F8F8;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
  color: @brand-primary;
  font-family: NewCenturySchoolW01-Rg, Georgia, 'Times New Roman', serif
}

.sub-title-small {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 14px;
}

.sub-title {
  .sub-title-small;
  text-transform: uppercase;
}


.label {
    font-size: 14px;
    font-weight: bold;
    color: #717171;
}

.main-text {
  color: @brand-primary;
  font-size: 18px;
}

.center
{
  margin-left:auto;
  margin-right:auto;
}

.clear-both {
    clear: both;
}

.display-box {
  background-color: #F0F0F0;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

.btn-primary {
  font-weight: bold;
}

.love-btn {
  position: relative;
}

/*
 * Counter button style for like buttons
 */
.btn-counter { margin-right: 39px; }
.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }
.btn-counter:after {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  left: 100%;
  margin-left: 8px;
  margin-right: -13px;
  position: absolute;
  top: -1px;
}

.btn-counter:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-top: 0;
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}

.love-btn span {
  color: @red;
}

// when outfit like is stateful, make this respect whether it's liked by this user
.like-heart {
  display: none;
}

.love-btn:hover, .love-btn:hover span,
.love-btn.active, .love-btn.active span {
  text-decoration: none;
  color: @red;
}
.love-btn:active span {
  color: #b12f27;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

a.button-link {
  color: white;
}

.button-link:hover {
  text-decoration: none;
}
