@charset "UTF-8";

// the following is to show a scrollbar on a div that's scrollable
// since by default safari and firefox on ios does not show a scrollbar unless clicked into
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
  background-color: white;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.center
{
  margin-left:auto;
  margin-right:auto;
}

.clear-both {
  clear: both;
}

.display-box {
  background-color: #FAFAFA;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

a.button-link {
  color: white;
}

.button-link:hover {
  text-decoration: none;
}
