@charset "UTF-8";

form {
  input {
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
  }
  textarea {
    width: 100%;
  }

  .errorList {
    color: @orange;
  }

  .input-error {
    color: @orange;
  }
}

.asterisk {
  font-size: 13px;
  font-weight: normal;
}