@charset "UTF-8";

.header {
  border-bottom: 1px solid @border-gray;
  background-color: #555555;

  margin-bottom: 15px;

  background: -webkit-linear-gradient(black, floralwhite); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, floralwhite); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, floralwhite); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, @gray-light); /* Standard syntax */
}

.header-name {
  font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.header-welcome {
  color: #f5f5f5;
}

.header-text {
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
}

.header-vertical-bar {
  color: #d3d3d3;
}

#alphaModal {
  height: 485px;
  width: 600px;

  .modal-body {
    padding: 0 40px;
  }

  .modal-footer {
    padding-right: 40px;
  }
}

#feedbackModal{
  width: 300px;
  height: 500px;

  .modal-footer {
      padding-top: 0;
  }
}

.feedback-loading-img {
  top: 100px;
  left: 125px;
  position: absolute;
}

.feedback-received-text {
  top: 175px;
  left: 60px;
  position: absolute;
  font-size: 15px;
}