@charset "UTF-8";

/* Style for home.html */
.home-photos {
  width: 1050px;
  margin: auto;
}

.home-photo-display-block {
  height: 380px;
  float: left;
  position: relative;
  margin: 10px;
}
.home-photo-display {
  float: left;
  padding: 5px;
  border: 1px groove;
  border-radius: 2px;
  background-color: white;
  width: 228px;
}

.preview-img {
  display: block;
  margin: auto;
  position: relative;
  max-width: 210px;
  max-height: 310px;
}

.loading-img {
  top: 135px;
  left: 115px;
  position: absolute;
  display: none;
}

.outfit-buttons {
    padding-top: 8px;
}

.outfit-name {
    border-bottom: 1px solid #c9c9c9;
    font-size: 14px;
    padding-top: 5px;
}

/* end style for home.html */