@charset "UTF-8";

/* Style for home.html */
.home-photos {
    max-width: 1200px;
    margin: auto;
}

.home-photo-display {
    float: left;
    position: relative;
    margin: 10px 10px 10px 20px;
    padding: 10px 8px 10px 8px;
    /*height: 360px;*/
    /*width: 320px;*/
    border: 1px groove;
    border-radius: 2px;
    background-color: white;
}

.preview-img {
  display: block;
  margin: auto;
  position: relative;
  width: 230px;
  height: 270px;
}

.loading-img {
    top: 135px;
    left: 115px;
    position: absolute;
    display: none;
}


.outfit-buttons {
    padding-top: 8px;
}

.outfit-name {
    border-bottom: 1px solid #c9c9c9;
    font-size: 14px;
    padding-top: 5px;
}

/* end style for home.html */