@charset "UTF-8";

.piece-detail {
  padding: 30px 20px 20px 20px;
  margin: 20px 150px 10px 150px;
  width: 1000px;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

.piece-description {
  float: right;
  width: 390px;
}

.piece-img-wrapper {
  height: 450px;
}

.description-label {
  padding-left: .6em;
}

.piece-thumbnails {
  float: left;
  width: 110px;
  padding-left: 15px;
}

.piece-data {
  margin: 15px 0 20px 0;
}

.piece-comments {
  .display-box;
  .center;
  width: 380px;
  margin-top: 25px;
  display: inline-block;
  padding: 5px 0px 10px 5px;

  #id_comment {
    width: 330px;
  }
}

.piece-closet {
  .display-box;
  width: 355px;

  margin-top: 25px;
  padding: 5px 5px 10px 13px;
}

.piece-closet-img {
  padding-top: 10px;
  margin-top: 5px;
  border-top: 1px solid @border-gray;
}
.piece-other-outfit-img {
  max-width: 80px;
  max-height: 90px;
  padding: 0 5px 5px 0;
}