@charset "UTF-8";

/*Shared styles between outfit_detail and piece_detail */
.product-detail {
    padding: 0 20px 20px 20px;
    overflow: hidden;
}

.product-pictures {
    float: left;
    width: 450px;
    padding: 0 20px 40px 20px;
}

.carousel-img {
    width: 100px;
    height: 120px;
    cursor: pointer;
}

#product_carousel {
    width: 870px;
    height: 175px;
    top: 20px;
    left: 45px;
    overflow: hidden;
    display: block;
}

.selected-img {
    width: 400px;
    height: 450px;
}

#carousel_previous{
    text-indent: -9999em;
    background: #f6f6f6 url('/static/img/arrow.png') no-repeat scroll -30px -31px;
    left: 27px;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 650px;
    display: block;
}

#carousel_previous.disabled{
    background-position: -160px -31px;
    background-color: #f6f6f6;
}

#carousel_next{
    text-indent: -9999em;
    background: #f6f6f6 url('/static/img/arrow.png') no-repeat scroll -31px -151px;
    left: 397px;
    height: 31px;
    width: 31px;
    position: absolute;
    top: 650px;
    display: block;
}

#carousel_next.disabled {
    background-position: -160px -151px
}

.product-price {
    font-size: 20px;
}