@charset "UTF-8";

.profile-page-header {
  border-bottom: 1px solid @border-gray;
  padding-bottom: 15px;
}
.profile-page {
  padding: 10px 40px 20px 40px;
  margin-top: 20px;
  overflow: hidden;
  background-color: white;
}

#profile_form {
  margin-top: 30px;
}