// this is overriding bootstrap/variable.less so it knows where to find the glyphicons
@icon-font-path:          "/static/fonts/";

@brand-primary: #00CED1;  /*Primary color of this site*/
@border-gray: #d9d5d2;
@red: #f64136;
