@charset "UTF-8";

.outfit-detail {
    padding: 0 20px 20px 20px;
    overflow: hidden;
}

.outfit-pictures {
    float: left;
    width: 450px;
    padding: 0 20px 40px 20px;
}

.outfit-desc {
    float: left;
    width: 200px;
}

.outfit-piece {
    display: inline-block;
    height: 300px;
    width: 240px;
    position: relative;
}

.outfit-piece-desc {
    position: absolute;
    top: 270px;
}

.outfit-pieces-wrapper {
    padding-top: 10px;
}

.outfit-pieces {
    float: right;
    width: 550px;
    padding-left: 20px;
}

#outfit-carousel {
    width: 870px;
    height: 175px;
    top: 20px;
    left: 45px;
    overflow: hidden;
    display: block;
}

.carousel-img {
    width: 100px;
    height: 120px;
    cursor: pointer;
}

#outfit_previous{
    text-indent: -9999em;
    background: #f6f6f6 url('/static/img/arrow.png') no-repeat scroll -30px -31px;
    left: 27px;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 650px;
    display: block;
}

#outfit_previous.disabled{
    background-position: -160px -31px;
    background-color: #f6f6f6;
}

#outfit_next{
    text-indent: -9999em;
    background: #f6f6f6 url('/static/img/arrow.png') no-repeat scroll -31px -151px;
    left: 397px;
    height: 31px;
    width: 31px;
    position: absolute;
    top: 650px;
    display: block;
}

#outfit_next.disabled {
    background-position: -160px -151px
}

.outfit-selected-img {
    width: 400px;
    height: 450px;
}

.outfit-piece-picture {
    padding: 0 18px 10px 0;
}

/*TODO: fix this when I get less*/
.outfit-piece-picture-other {
    padding: 0 18px 10px 0;
    display: none;
}