{% load floppyforms %}
{% load i18n %}
<div class="modal-header">
    <h1>{% trans 'Log in to Stylieu' %}</h1>
</div>

{% form login_form using %}
<form id="login_form" method="post" action='{% url 'login' %}'>
    <div class="modal-body">
        <div class="social-buttons">
            <a class="btn btn-block btn-lg btn-social btn-facebook">
                <i class="fa fa-facebook"></i> {% trans 'Log In with Facebook' %}
            </a>
        </div>
        <div class="or">
            <span>or</span>
        </div>

        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <div id="error_div" class="input-error">
        </div>
        {% formrow form.username using "forms/rows/ajax_p.html" %}
        {% formrow form.password using "forms/rows/ajax_p.html" %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">{% trans 'Login' %}</button>
        <button type="button" class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <div id="forgot_password">
            <a href=#>{% trans 'Forgot password?' %}</a>
        </div>
        <div>
            {% trans 'Not a member? ' %}<a href=# id="register_on_login" data-register="{% url 'register' %}">{% trans 'Register' %}</a>
        </div>
    </div>
</form>
{% endform %}