{% load i18n %}
{% block header_block %}
    <button class="btn feedback-btn" data-toggle="modal" data-target="#feedbackModal">
        {% trans "Feedback?" %}
    </button>

    <div class="header">
        <div class="row">
            <span class="col-md-1 col-md-offset-2">
                <button type="button" class="header-button">
                {% if user.is_authenticated %}
                    <a class="button-link" id="sell" href="{% url 'sell' %}">
                {% else %}
                    <a class="button-link" id="sell_not_loggedin" href="#" data-url="{% url 'sell' %}">
                {% endif %}
                    {% trans "SELL" %}
                </a>
                </button>
            </span>

            <span class="col-md-3 col-md-offset-2 header-name">
                <a href="{% url 'home' %}">{% trans "Stylieu"%}</a>
                <button class="btn beta-btn" data-toggle="modal" data-target="#alphaModal">
                    {% trans "ALPHA" %}
                </button>
            </span>


            <span class="col-md-2 col-md-offset-2 header-text">
                {% if user.is_authenticated %}
                    <span class="header-welcome">
                        {% trans "Welcome, " %}
                        {{ user.username }}
                    </span>
                     <span class="header-vertical-bar"> | </span>
                    <span>
                        <a id="logout" href="{% url 'logout' %}">{% trans 'Log Out' %}</a>
                    </span>
                {% else %}
                    <span>
                        <a href="#" class="login" data-form="{% url 'login' %}">{% trans 'Log in' %}</a>
                    </span>
                    <span class="header-vertical-bar"> | </span>
                    <span>
                        <a href="#" class="register" data-form="{% url 'register' %}">{% trans 'Register' %}</a>
                    </span>

                {% endif %}
            </span>
        </div>

        <div class="modal fade" id="login_modal">
            {% comment %}
            Dynamically loading in the log in modal
            {% endcomment %}
        </div>
        <div class="modal fade" id="register_modal">
            {% comment %}
            Dynamically loading in the register modal
            {% endcomment %}
        </div>

        <div id='feedbackModal' class="modal fade fade-left">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h2>Feedback</h2>
          </div>

          <form id="feedback_form" method="POST" action="{% url 'feedback' %}">
              <div class="feedback-form">
                  <div class="modal-body">
                    Thank you for your valuable feedback! <br/><br/>
                    {% csrf_token %}
                    <p>Feedback *:
                        <textarea rows="4" cols="20" name="feedback" autofocus required>
                        </textarea>
                    </p>

                    <p>Name (optional): <input type="text" name="name"></p>
                    <p>Email (optional): <input type="email" name="email"></p>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                    <button type="button" class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
                  </div>
              </div>
              <div class="feedback-received">
                  <img class="feedback-loading-img" src="{{ STATIC_URL }}img/spinning_loading.gif">
                  <div class="feedback-received-text">Thanks for your feedback!</div>
              </div>
          </form>
          </div>

        </div>

        <div class="modal fade" id="alphaModal" tabindex="-1" role="dialog" aria-labelledby="Alpha" aria-hidden="true">
          <div class="modal-header">
            <h1>Stylieu in Alpha</h1>
          </div>
          <div class="modal-body">
            Hi there!
            <br/><br/>
            <p>
                Thank you for visiting Stylieu, please feel free check out this site and provide your valuable feedback to us.
                (While you are at it, why not show off your style by posting up some of your outfits?)
            </p>
            <p>
                While this site is open to the public, it's still in the Alpha stage. This means not all the products you see
                here are for sale as they might be testing products, and the site is still missing some of its key features.
                <br/><br/>

                But don't worry, any information you provide on this site is secure and private.
                <br/><br/>

                Once again, thank you for your interest.
                <br/><br/>
                <b>Happy styling!</b>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
         </div>
        </div>
     </div>

{% endblock header_block %}