{% load i18n %}
{% block header_block %}
    <div class="row header-top-text">
        <span class="col-md-2 col-md-offset-1">
            {% trans 'About us' %}
        </span>
        <span>
            {% trans 'How it works' %}
        </span>
    </div>
    <div class="header row">
        <span class="col-md-3 col-md-offset-1 header-text">
            <a href="{% url 'home' %}">{% trans "Stylieu"%}</a>
        </span>

        <span>
            <a id="sell" href="{% url 'sell' %}">{% trans "Sell" %}</a>
        </span>

        {% if user.is_authenticated %}
            <span class="col-md-3 col-md-offset-5">
                <span>
                    {% trans "Welcome, " %}
                    {{ user.username }}
                </span>
                <span>
                    <a id="logout" href="{% url 'logout' %}">{% trans 'Log Out' %}</a>
                </span>
            </span>

        {% else %}
            <span>
                <a href="#" class="login" data-form="{% url 'login' %}">{% trans 'Log in' %}</a>
            </span>
             <div class="modal" id="login_modal">
                {% comment %}
                Dynamically loading in the log in modal
                {% endcomment %}
             </div>
            <span>
                <a id="register" href="{% url 'register' %}">{% trans 'Register' %}</a>
            </span>
        {% endif %}
    </div>
{% endblock header_block %}