{% extends "base.html" %}
{% load floppyforms %}
{% load i18n %}

{% block content_block %}
    <div class="profile-page row col-md-5 col-md-offset-3">
        <div class="row">
            <div class="profile-page-header">
                <div class="title">
                    {% trans 'Complete your profile' %}
                </div>
                <div class="sub-title-lc">
                    {% trans "Tell us a little about yourself so we can better customize your feed and promote your outfits!" %}
                </div>
            </div>
            <form id="profile_form" method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% form profile_form using %}
                    {% formconfig row using "forms/rows/multiple_fields_in_div.html" %}

                    {% formrow form.first_name form.last_name with css_classes="col-md-6" show_required=True %}
                    {% formrow form.city form.state with css_classes="col-md-6" show_required=True %}
                    {% formrow form.dress_size form.shoe_size with css_classes="col-md-6" show_required=True %}
                {% endform %}

                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </form>
        </div>

    </div>

{% endblock content_block %}