{% extends "sell/sell_base.html" %}
{% load upload_tags %}
{% load i18n %}
{% load thumbnail %}
{% load floppyforms %}

{% block sell_content_block %}
<div class="sell-title">
    <div class="page-title">{% trans "Outfit Information" %}</div>
    <div>{% trans "Let's start with your outfit: upload photos of your fabulous outfit, give it a name and description." %}</div>
</div>

{% include "sell/includes/sell_upload_photos.html" with form_action="/sell/new"%}

<div class="sell-form row">
    {% form wizard.form using %}
    <form id="outfitform" method="post" action=".">
        {% formconfig row using "forms/rows/multiple_fields_in_div.html" %}
        <div class="align-left col-md-10 col-md-offset-1">
            {% csrf_token %}
            {{ wizard.management_form }}

            {% include "includes/form_errors.html" with form=wizard.form %}
            {% formrow form.name form.price using "forms/rows/multiple_fields_in_div.html" with css_classes="col-md-5" %}
            {% formrow form.description using "forms/rows/multiple_fields_in_div.html" with css_classes="col-md-10" %}
        </div>
        <div class="col-md-1 col-md-offset-1 sell-form-button">
            <button type="submit" class="btn btn-primary">
                {% trans "Next" %}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </form>
    {% endform %}
</div>

{% endblock sell_content_block %}

{% block override_script_block %}
    <script>
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            //url: $('#fileupload').fileupload('option', 'url'),
            url: '/sell/view/',
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, null, {result: result});
        });
    </script>
{% endblock override_script_block %}
