{% extends "sell/sell_base.html" %}
{% load upload_tags %}
{% load i18n %}
{% load thumbnail %}
{% load floppyforms %}

{%  block sell_content_block %}
<div class="sell-title">
    <div class="page-title">{% trans "Piece "%} {{ wizard.steps.step0 }}</div>
    <div>{% trans "Now enter information on the pieces from this outfit that you want to sell. (Up to 5 pieces per outfit)" %}</div>
</div>

{% include "sell/includes/sell_upload_photos.html" with form_action="/sell/piece/new/" form_step=wizard.steps.step0 %}

<div class="sell-form row">
    {% form wizard.form using %}
    <form id="pieceform" method="post" action=".">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% formconfig row using "forms/rows/multiple_fields_in_div.html" %}
        <div class="align-left col-md-9 col-md-offset-1">
            {%  include "includes/form_errors.html" with form=wizard.form%}
            {% formrow form.price form.size form.brand with css_classes="col-md-3" show_required=True %}
            {% formrow form.category form.condition with css_classes="col-md-4" show_required=True %}
            {% formrow form.description with css_classes="col-md-9" show_required=True %}
            {% formrow form.more_pieces with css_classes="col-md-9" show_required=True %}
        </div>
        <div class="col-md-2 col-md-offset-1 sell-form-button">
            <button name="wizard_goto_step" type="submit" class="btn btn-primary btn-prev" value="{{ wizard.steps.prev }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {% trans "Prev" %}
            </button>
            <button type="submit" class="btn btn-primary">
                {% trans "Next" %}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </form>
    {% endform %}
</div>
{%  endblock sell_content_block %}

{% block override_script_block %}
    <script>
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            //url: $('#fileupload').fileupload('option', 'url'),
            url: '/sell/piece/view/{{ wizard.steps.step0 }}',
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, null, {result: result});
        });
    </script>
{% endblock override_script_block %}
