{% extends "sell/sell_base.html" %}
{% load upload_tags %}
{% load i18n %}

{%  block content_block %}
<p>Which pieces in your outfit are you selling?</p>

<br>

<form id="pieceform" method="post" action=".">
    {% csrf_token %}

    {{ wizard.management_form }}
    {{ wizard.form.as_p }}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev Step" %}</button>
    <input type="submit" value="{% trans "Submit" %}"/>
</form>


{#  <div class="attachments-upload">#}
{#    <div id="images"></div>#}
{#    <form id="sell_form" action="." method="post">#}
{#        {% csrf_token %}#}
{#        {{ sell_form.as_p }}#}
{#        <input type="submit" value="{% trans 'Submit' %}"/>#}
{#    </form>#}
{##}
{#  </div>#}

{%  endblock content_block %}
