{% extends "base.html" %}
{% load i18n %}
{% load outfit_filter %}

{% block content_block %}
    <div class="product-detail">
        <span class="product-pictures">
            <img class="selected-img" src="{{ object.picture_set.all|primary_picture }}"/>
            <div id="product_carousel">
                {% for picture in object.picture_set.all %}
                    <img class="carousel-img" src="{{ picture.thumbnail_url }}">
                {% endfor %}
            </div>
            <a id="carousel_previous" class="prev" href="#">{% trans "Previous" %}</a>
            <a id="carousel_next" class="next" href="#">{% trans "Next" %}</a>
        </span>

        <span class="outfit-desc">
            <div class="title">{{ object.name }}</div>
            {% if object.description %}
                <h3>{% trans 'Description' %}</h3>
                <p> {{ object.description }} </p>
            {% endif %}
        </span>
        <span class="outfit-pieces">
            <div class="title">{% trans 'Items for Sale' %}</div>
            <div class="outfit-pieces-wrapper">
                {% for piece in object.piece_set.all %}
                    <span class="outfit-piece">
                        <a href="/piece/{{ piece.pk }}">
                        <img class="outfit-piece-picture" src="{{ piece.picture_set.all|primary_picture_thumbnail }}">
                        {% for pic in piece.picture_set.all|picture_thumbnail_no_primary %}
                            <img class="outfit-piece-picture-other" src="{{ pic }}">
                        {% endfor %}
                        </a>
                        <div class="outfit-piece-desc">
                            <div>{{ piece.brand }}</div>
                            <div>${{ piece.price }}</div>
                            <div>{{ piece.condition | get_condition_text}}</div>
                        </div>
                    </span>
                {% endfor %}
            </div>

            <h4>{% trans "Seller Info" %}</h4>
            {{ object.user.username }}
        </span>
    </div>
{% endblock content_block %}
