{% extends "base.html" %}
{% load i18n %}
{% load outfit_filter %}

{% block content_block %}
    <div class="outfit-detail">
        <span class="outfit-thumbnails">
            {% for picture in object.picture_set.all %}
                <img class="thumbnail-img" src="{{ picture.thumbnail_url }}">
            {% endfor %}
        </span>

        <span class="product-pictures">
            <img class="selected-img" src="{{ object.picture_set.all|primary_picture }}"/>
        </span>

        <span class="outfit-desc">
            <div class="title">{{ object.name }}</div>
            <div class="outfit-data">
                <div class="outfit-data-top">
                    {% if object.description %}
                        <p> {{ object.description }} </p>
                    {% endif %}

                    <button type="button" class="btn btn-primary">
                        <a class="button-link"
                           href="mailto:{{ object.user.email }}?subject={{ object.name }}&body={{ request.build_absolute_uri|urlencode }}">
                            {% trans 'Buy Entire Outfit' %}
                        </a>
                    </button>

                    <span class="like">
                        <a href="#" title="Love it" class="love-btn btn-counter" id={{ object.pk }} data-count={{ object.num_likes }}>
                            <span class="like-empty-heart">&#x2661;</span> <span class="like-heart">&#x2665;</span>{% trans 'Love it' %}
                        </a>
                    </span>
                </div>
                <div class="seller-info display-box">
                    <div class="sub-title">{% trans "Seller Info" %}</div>
                    <div class="seller-info-detail">
                        <span class="seller-pic"></span>
                        <span class="main-text">{{ object.user.username }}</span>
                        <button type="button" class="btn btn-primary">{% trans 'Follow' %}</button>
                    </div>

                </div>

                <div class="outfit-comments">
                    <div class="comment-line sub-title">
                        {% trans 'COMMENTS' %} (<span id="num_comments">{{ comments.count }}</span>)
                    </div>
                    <div id="existing_comments">
                        {# Note if changing this, needs to change 'addComment' in piece_details.js and outfit_details.js#}
                        {% for comment in comments %}
                             <div class="comment-line">
                                <div class="comment-name">{{ comment.author.username }}</div>
                                <div>{{ comment.comment }}</div>
                             </div>
                        {% endfor %}
                    </div>
                    <form id="outfit_comment" method="post" data-submit="ajax" action="{% url "outfit-comment" pk=object.pk %}">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="{% trans "Post" %}"/>
                    </form>
                </div>

            </div>

        </span>
        <span class="outfit-pieces">
            <div class="sub-title">{% trans 'Items For Sale:' %}</div>
            <div class="outfit-pieces-wrapper">
                {% for piece in object.piece_set.all %}
                    <span class="outfit-piece">
                        <a href="/piece/{{ piece.pk }}">
                        <img class="outfit-piece-picture" src="{{ piece.picture_set.all|primary_picture_thumbnail }}">
                        {% for pic in piece.picture_set.all|picture_thumbnail_no_primary %}
                            <img class="outfit-piece-picture-other" src="{{ pic }}">
                        {% endfor %}
                        </a>
                        <div class="outfit-piece-desc">
                            <div>{{ piece.brand }}</div>
                            <div>${{ piece.price }}</div>
                            <div>{{ piece.condition | get_condition_text}}</div>
                        </div>
                    </span>
                {% endfor %}
            </div>
        </span>
    </div>
{% endblock content_block %}
